<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Photoview is a simple and user-friendly Photo Gallery for self-hosted personal servers. It is made for photographers and aims to provide an easy and fast way to navigate directories, with thousands of high resolution photos.">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/main.css' | url }}">
  {% include 'analytics.njk' %}
  <style>
    ul {
      list-style: inherit;
      padding-left: 40px;
    }
  </style>
</head>
<body class="bg-gray-50 overflow-x-hidden mx-auto" style="max-width: 720px;">
  {{ content | safe }}
</body>
</html>