<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - Photoview Documentation</title>
  <link rel="stylesheet" href="{{ '/assets/main.css' | url }}">
</head>
<body>

  <div class="mx-4 relative">
    <div class="max-w-screen-lg m-auto flex items-start min-h-screen">

    <aside class="w-72 sticky top-0 docs-nav">

      <div class="overflow-y-scroll max-h-screen pr-4">

        <a href="{{ '/' | url }}">
          <img class="my-8" src="{{ '/assets/images/logo-large.svg' }}" alt="Photoview logo" height="60">
        </a>

        {% macro navEntryItem(entry) %}
        <li>
          <a
            class="px-3 py-2 block no-underline hover:no-underline
              {{ 'bg-blue-50 text-primaryDark hover:text-primaryDark' if entry.url == page.url else 'text-black hover:text-gray-900 hover:bg-gray-100' }}"
            href="{{ entry.url | url }}">
            {{ entry.data.title }}
          </a>
        </li>
        {% endmacro %}

        <nav class="mb-8">
          <ul>

          {%- for entry in "root" | docsNavGroupItems(collections.all) %}
            {{ navEntryItem(entry) }}
          {%- endfor %}

          {%- for group in navGroups %}
            <li class="">
              <span class="ml-3 mt-6 mb-2 block uppercase text-gray-600 font-bold text-xs tracking-wider">{{ group }}</span>

                <ul>
                {%- for entry in group | docsNavGroupItems(collections.all) %}
                  {{ navEntryItem(entry) }}
                {%- endfor %}
                </ul>

            </li>
          {%- endfor %}

          </ul>
        </nav>

        </div>
    </aside>

    <style>
      .docs-nav::before {
        content: '';
        background-color: rgb(249, 250, 251);
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
      }
    </style>

    <main class="mb-40 w-full pl-14 py-14 pr-4">

    <header class="flex justify-between items-start">
    <h1>{{ title }}</h1>
    <a class="border-gray-800  text-gray-800 border-b hover:text-primaryDark hover:border-primaryDark uppercase tracking-wider text-sm no-underline"
      href="https://github.com/photoview/photoview.github.io/edit/master/{{ page.inputPath }}">Edit on GitHub</a>
    </header>

    {{ content | safe }}
    </main>

    </div>
  </div>
</body>
</html>