@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Preflight adjustments */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-default;
  }

  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child),
  h4:not(:first-child),
  h5:not(:first-child),
  h6:not(:first-child) {
    @apply pt-6;
  }

  h1 {
    @apply text-4xl pb-2;
  }

  h2 {
    @apply text-3xl pb-2;
  }

  h3 {
    @apply text-2xl pb-2;
  }

  h4 {
    @apply text-lg font-bold;
  }

  /* Header anchors */
  h1 > a.header-anchor,
  h2 > a.header-anchor,
  h3 > a.header-anchor,
  h4 > a.header-anchor,
  h5 > a.header-anchor,
  h6 > a.header-anchor {
    position: absolute;
    margin-left: -2.6rem;
    padding-right: 1rem;
    width: 3rem;
    text-align: right;
    opacity: 0;

    @apply text-gray-400 no-underline hover:underline select-none;
  }

  h1:hover > a.header-anchor,
  h1 > a.header-anchor:focus,
  h2:hover > a.header-anchor,
  h2 > a.header-anchor:focus,
  h3:hover > a.header-anchor,
  h3 > a.header-anchor:focus,
  h4:hover > a.header-anchor,
  h4 > a.header-anchor:focus,
  h5:hover > a.header-anchor,
  h5 > a.header-anchor:focus,
  h6:hover > a.header-anchor,
  h6 > a.header-anchor:focus {
    opacity: 1;
  }

  h1 > a.header-anchor::before,
  h2 > a.header-anchor::before,
  h3 > a.header-anchor::before,
  h4 > a.header-anchor::before,
  h5 > a.header-anchor::before,
  h6 > a.header-anchor::before {
    content: '#';
  }

  p,
  span,
  em {
    @apply text-default py-2;
  }

  a {
    @apply text-blue-900 underline hover:text-blue-800;
  }

  code {
    font-size: 0.8em;
    @apply bg-gray-100 px-1 py-05 rounded-md text-gray-800;
  }

  pre {
    @apply block my-2;
  }

  pre > code {
    @apply block px-4 py-3;
  }

  blockquote {
    @apply bg-gray-50 border-l-4 border-gray-200 pl-4 my-2;
  }

  blockquote,
  blockquote p {
    @apply text-gray-600;
  }

  ol {
    @apply pl-4 py-2;
  }

  ol > li {
    @apply list-decimal;
  }

  #primary-content ul {
    @apply pl-4 py-2;
  }

  #primary-content ul > li {
    @apply list-disc py-1;
  }

  table {
    border-collapse: collapse;
    text-align: left;
  }

  table td,
  table th {
    padding: 6px;
    border: 1px solid #dfe2e3;
    vertical-align: top;
  }

  table tr:nth-child(2n) {
    background-color: #f6f8fa;
  }
}

@layer components {
  .docs-toc {
    @apply top-14;
  }

  .docs-toc ol {
    padding: 0;
  }

  .docs-toc ol ol {
    padding-left: 1rem;
  }

  .docs-toc ol li {
    list-style: none;
  }

  .docs-toc ol li a {
    @apply inline-block py-1 text-black text-xs no-underline hover:text-primaryDark;
  }

  .docs-toc ol li a.active {
    @apply text-primaryDark;
  }
}

@layer utilities {
  .big-shadow {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22),
      0 3px 18px 0 rgba(192, 204, 214, 0.5);
  }

  @variants responsive {
    .default-grid {
      @apply grid grid-cols-4 sm:grid-cols-8 lg:grid-cols-12 gap-4;
    }
  }
}
